body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
}

.country {
  fill: #EDEDED;
  stroke: lightgrey;
  stroke-width: 0.2;
}

#map_svg{
  padding-top:20px;
  padding-bottom:20px;
}

#map_circles{
  cursor: pointer;
}

.protograph_map_title{
  font-size: 20px;
  color: #333;
  margin:0px;
  padding: 25px;
  font-weight: 400;
}

#protograph_parent{
  -moz-box-shadow: 0 0 5px 5px lightgrey;
  -webkit-box-shadow: 0 0 5px 5px lightgrey;
  box-shadow: 0 0 5px 5px lightgrey;
}

#protograph-tooltip {
  position: absolute;
  /*display: none;*/
  background: rgb(255,255,255);
  color: black;
  box-shadow: 2px 2px 10px lightgrey;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  width: 240px;
  line-height: 24px;
  z-index: 100;
}

.t-ownership{
  font-size: 12px;
  margin-bottom: 5px;
  color: #777;
}

.t-company{
  text-transform: capitalize;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
}


.t-sector{
  font-size: 12px;
  margin-bottom: 15px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 14px;
}

.ratings{
  padding: 2px 0px;
  border-top: 1px dashed #ddd;
  font-size: 12px;
}

.ratings .label{
  display: inline-block;
  width: 140px;
}

.top-row{
  border: 0px !important;
  color: #777;
}

.value{
  display: inline-block !important;
  width: 50px;
  font-size: 12px;
  /*float: right;*/
  text-align: right
}

.tabs {
  position: relative;
  background: white;
  height: 40px;
  border-bottom: 1px solid #efefef;
  /*padding-bottom: 1px;*/
  padding-left: 25px;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after { clear: both; }

.tab { float: left; }

.tab-switch { display: none; }

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 40px;
  padding: 0 1.618em;
  background: #fafafa;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-top: 1px solid #efefef;
  color: #4bc3f7 !important;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  margin-right: 5px;
  font-size: 14px;
}

/*.tab-label:hover {
  top: -0.25rem;
  transition: all 0.25s;
}*/

.tab-switch:checked + .tab-label {
  color: #4d4d4d;
  border-bottom: 0;
  transition: all 0.35s;
  z-index: 2;
}

/*.tab-switch:checked + .tab-label:hover { top: -0.0625rem; }
*/
.tab-switch:checked + .tab-label{
  opacity: 1;
  transition: all 0.35s;
  z-index: 3;
}

.active_tab{
  background: white;
  /*font-weight: bold;*/
  color: #4d4d4d !important;
}
 
