body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
}

.borders {
  fill: none;
  stroke: #888;
  stroke-width: 0.25px;
  stroke-linejoin: round;
  stroke-linecap: round;
  /*stroke-dasharray: 3;*/
}

.geo-region {
  fill: #f3f3f3;
}

/*.outlines{
  stroke-width: 0.675px;
}
*/
.region-outline{
  stroke: none;
  fill-opacity: 0;
}

.voronoiWrapper{
  fill: none;
  /*stroke: red;
  stroke-width: 0.5px*/
}


#map_svg{
  padding-top:20px;
  padding-bottom:20px;
}

#map_circles{
  cursor: pointer;
}

#protograph_map_title{
  font-size: 20px;
  color: #333;
  margin:0px;
  padding: 25px;
  font-weight: 400;
}

#protograph_parent{
  -moz-box-shadow: 0 0 5px 5px lightgrey;
  -webkit-box-shadow: 0 0 5px 5px lightgrey;
  box-shadow: 0 0 5px 5px lightgrey;
  position: relative;
}

#protograph-tooltip {
  position: absolute;
  background: rgb(255,255,255);
  color: black;
  box-shadow: 2px 2px 10px lightgrey;
  font-family: sans-serif;
  font-size: 14px;
  padding: 10px;
  position: absolute;
  width: 240px;
  line-height: 24px;
  z-index: 100;
  pointer-events:none;
}

.protograph-source {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 15px;
  color: #7a7a7a;
  border-top: 1px solid #efefef;
}

.protograph-source-header, .protograph-source-summary {
  display: inline;
}

.protograph-credits {
  display: inline;
  float: right;
  font-size: 10px;
}

.t-ownership{
  font-size: 12px;
  margin-bottom: 5px;
  color: #777;
}

.t-company{
  text-transform: capitalize;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
}


.t-sector{
  font-size: 12px;
  margin-bottom: 15px;
  color: #777;
  letter-spacing: 0.5px;
  line-height: 14px;
}

.ratings{
  padding: 2px 0px;
  border-top: 1px dashed #ddd;
  font-size: 12px;
}

.ratings .label{
  display: inline-block;
  width: 140px;
}

.top-row{
  border: 0px !important;
  color: #777;
}

.value{
  display: inline-block !important;
  width: 50px;
  font-size: 12px;
  text-align: right
}

.tabs {
  position: relative;
  background: white;
  height: 40px;
  border-bottom: 1px solid #efefef;
  padding-left: 25px;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after { clear: both; }

.tab { float: left; }

.tab-switch { display: none; }

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 40px;
  padding: 0 1.618em;
  background: #fafafa;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
  border-top: 1px solid #efefef;
  color: #4bc3f7 !important;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  margin-right: 5px;
  font-size: 14px;
}

.tab-switch:checked + .tab-label {
  color: #4d4d4d;
  border-bottom: 0;
  transition: all 0.35s;
  z-index: 2;
}

.tab-switch:checked + .tab-label{
  opacity: 1;
  transition: all 0.35s;
  z-index: 3;
}

.active_tab{
  background: white;
  /*font-weight: bold;*/
  color: #4d4d4d !important;
}

@media only screen and (max-width: 450px){
  #map_svg {
    padding: 10px;
  }
  #protograph_parent{
    -moz-box-shadow: 0 0 0 0 lightgrey;
    -webkit-box-shadow: 0 0 0 0 lightgrey;
    box-shadow: 0 0 0 0 lightgrey;
  }
  #protograph_map_title{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:15px;
  }

  .tabs{
    padding-left: 15px;
  }

  .searchable-filter-div input{
    width: 300px;
    border: 0px;
    font-size: 12px;
    color: black;
    background: rgba(0,0,0,0.2);
    padding: 5px 10px;
    border-radius: 4px;
  }

  .searchable-filter-div input:focus{
    outline: none;
  }

  .searchable-filter-div input:active{
    outline: none;
  }

  .skills-options{
    height: 110px;
    overflow-y: scroll;
    color:black;
  }

  .skills-option{
    padding: 7px 20px;
    color: black;
    background-color: lightgrey; 
    font-size: 12px;
    cursor: pointer;
  }

  .skills-options .active{
    background-color: rgba(255,255,255,0.3);
    border-bottom: 1px dashed rgba(255,255,255,0.01);
  }

  #protograph-tooltip {
    margin-top: 10px;
    width:100%;
  }

  body{
    margin: 0px;
  }

  /*.borders{
    stroke-width: 0.5;
  }*/
}
 
